<!DOCTYPE html>
<html th:fragment="plantilla (titulo, contenido)"
	xmlns:th="http://www.thymeleaf.org">
<head>
<base th:href="@{/}"> <!-- Direcciones relativas al servidor de la aplicación -->
<title th:replace="${titulo}">Layout Title</title>
</head>
<body>
	<header>
		<h1>Libreria</h1>
		<nav>
			<ul>
				<li>Index</li>
				<li>Admin</li>
			</ul>
		</nav>
	</header>
	<h1 th:replace="${titulo}">Layout H1</h1>
	<div th:replace="${contenido}">
		<p>Layout content</p>
	</div>
	<footer>
		Layout footer
		<nav>
			<ul>
				<li><a th:href="@{/}" href="index.html">Index</a></li>
				<li><a th:href="@{/admin}" href="admin.html">Admin</a></li>
			</ul>
		</nav>
	</footer>
</body>
</html>